
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right bottom, #f3ff9f, #c3fea2);
}
