
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

:root {
    --amplify-components-fieldcontrol-border-color: #414d59;
    --amplify-components-button-hover-border-color: #414d59;
    --amplify-components-button-link-hover-background-color: none;
    --amplify-components-button-hover-background-color: #cafdd1;
    --amplify-components-button-link-active-background-color: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right bottom, #eefc91, #b1ffff);
}
